footer{
  min-height: 200px;
  background-color:  var(--color-4);
  color: var(--color-2);
  display: flex;
  /* flex-wrap: wrap; */
  padding-top: 4rem;
}

.section-footer{
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  margin: auto;
}

.footer-text{
  margin-right: 10rem;
  margin-bottom: 3rem;
}