footer{
  min-height: 200px;
  background-color:  var(--color-4);
  color: var(--color-2);
  display: flex;
  padding-top: 4rem;
}

.section-footer{
  display: flex;
  text-align: left;
  margin: auto;
}

.footer-text{
  width: 500px;
  margin-right: 10rem;
}