.s1{
  text-align: center;
}

.s1 h2{
  margin-top: 1rem;
}

.item img{
  width: 200px;
  height: 150px;
  border-radius: 12px;
  pointer-events: none;
}

.icons-partner img:hover{
  transform: scale(1.1);
}

.inner{
  display: flex;
}

.item{
  min-height: 100px;
  min-width: 220px;
  padding: 2px;
  border-bottom: 2px solid var(--color-1);
  border-top: 2px solid var(--color-1);
}

.carousel{
  cursor: grab;
  overflow: hidden;
  margin: auto;
  width: 1207px;
}

.arrow-detail{
  width: 56px;
  height: 56px;
  margin: auto;
  margin-left: 1.5rem;
}